.header__logo {
    margin: 0 auto 31.6px 27px;
    width: 103.74px;
    height: 24.4px;
}

@media screen and (min-width: 1280px) {

    .header__logo {
        margin: 0 0 41px 0;
        width: 142px;
        height: 33px;
    }

}