.profile__name {
    grid-area: name;
    width: 189px;
    text-align: center;
    margin: 26px auto 0 auto;
    padding: 0;
    font-size: 27px;
    font-weight: 500;
    color: #FFFF;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (min-width: 640px) {

    .profile__name {
        width: 189px;
        margin: 39px auto 0 25px;
        font-size: 27px;
        text-align: left;
    }
}

@media screen and (min-width: 1280px) {

    .profile__name {
        width: 294px;
        margin: 62px 0 0 0;
        font-size: 42px;
        text-align: left;
    }
}