.button {
    padding: 0;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: opacity .4s linear;
    -o-transition: opacity .4s linear;
    transition: opacity .4s linear;
    cursor: pointer;
}