.popup__close-button {
    position: absolute;
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
    background-image: url(../../../images/close_btn.svg);
}

.popup__close-button:hover {
    opacity: .6;
}

@media screen and (min-width: 1280px) {

    .popup__close-button {
        top: -40px;
        right: -40px;
        width: 32px;
        height: 32px;
    }

}