.card__delete-button {
    grid-area: img;
    width: 18px;
    height: 19.3px;
    background-image: url(../../../images/del_btn.svg);
    position: absolute;
    top: 20px;
    right: 20px;
}
    
.card__delete-button:hover {
    opacity: .6;
}