.card {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "img img"
                         "title like";
    width: 282px;
    margin: auto;
    background-color: #FFFF;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}